<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.homestar.as.repository.UserActionLogMapper" >
  <resultMap id="BaseResultMap" type="cn.com.homestar.as.model.UserActionLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="request_uri" property="requestUri" jdbcType="VARCHAR" />
    <result column="user_agent" property="userAgent" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="operator_time" property="operatorTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, type, title, request_uri, user_agent, ip, country, region, city, operator_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_action_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_action_log
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.com.homestar.as.model.UserActionLog" >
    insert into user_action_log (id, user_id, type, 
      title, request_uri, user_agent, 
      ip, country, region, 
      city, operator_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{requestUri,jdbcType=VARCHAR}, #{userAgent,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{operatorTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="cn.com.homestar.as.model.UserActionLog" >
    insert into user_action_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="requestUri != null" >
        request_uri,
      </if>
      <if test="userAgent != null" >
        user_agent,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="operatorTime != null" >
        operator_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="requestUri != null" >
        #{requestUri,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null" >
        #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="operatorTime != null" >
        #{operatorTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <insert id="insertSelectiveBatch" parameterType="java.util.List" >
        insert into user_action_log (user_id, type,
      title, request_uri, user_agent,
      ip, country, region,
      city, operator_time)
    values
    <foreach collection="list" item="log" separator=",">
      (#{log.userId,jdbcType=INTEGER}, #{log.type,jdbcType=INTEGER},
      #{log.title,jdbcType=VARCHAR}, #{log.requestUri,jdbcType=VARCHAR}, #{log.userAgent,jdbcType=VARCHAR},
      #{log.ip,jdbcType=VARCHAR}, #{log.country,jdbcType=VARCHAR}, #{log.region,jdbcType=VARCHAR},
      #{log.city,jdbcType=VARCHAR}, #{log.operatorTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.homestar.as.model.UserActionLog" >
    update user_action_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="requestUri != null" >
        request_uri = #{requestUri,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null" >
        user_agent = #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="operatorTime != null" >
        operator_time = #{operatorTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.homestar.as.model.UserActionLog" >
    update user_action_log
    set user_id = #{userId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      request_uri = #{requestUri,jdbcType=VARCHAR},
      user_agent = #{userAgent,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      operator_time = #{operatorTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>